.button {
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none
}

.button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.button:hover {
    background-color: #999;
}